
/* common */

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

#logo-container{
  font-size:16pt;
}

nav h1{
  margin:0;
  padding-top:18px;
  font-weight:bold;
  font-size:22pt;
}

h2{
  font-size:20pt;
}

p {
  line-height: 2rem;
}

footer.page-footer {
  margin: 0;
}

/*
Index
*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

select.browser-default{
  font-size:16pt;
}
.card{
  padding:0px;
}
.card-action span{
  position:relative;
  top:-4px;
}

#main_view{
  display:flex;
  width: 100%;
}
#main_view div.col{
  padding:0;
}
#map_container, #ranking_view{
  display:table-cell;
  position:relative;
}

table#ranking_table td:hover{
  color:#9e9d24;
}

table td{
  padding:3px 5px;
}
div#leaflet_map{
  height:70vh;
}
div#ranking_container{
  height:70vh;
  overflow: auto;
}
.modal.bottom-sheet {
  max-height: 100%;
}

.legendQuant{
  width: 120px;
  height:210px;
}
.layer_tooltip{
  font-size:14pt;
  width: 200px;
  height: 70px;
}
