body{
    margin:0;
    padding:0;
    background:#fcfcfc;
}
#app {
    background-color: #fafafa;
}

.sesekimap{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
}

.layer_tooltip .commune_name{
    font-size: 16pt;
}
.layer_tooltip .value{
    font-size: 14pt;
    text-align: right;
}
