body{
    margin:0;
    padding:0;
    background:#fcfcfc;
}
#app {
    background-color: #fafafa;
}

#container {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    background-color: rgb(48, 135, 216);
    flex-grow: 0;
    flex-basis: auto;
    height: 60px;
    padding: 6px;
    display:flex;
}

#header h2.ui.header{
    color: white;
    margin-right: 20px;
}

#header h2.ui.header div{
    color: white;
}

#header #prefecture_selector{
    width: 320px;
    padding-top: 5px;
    margin-right: 10px;
}

#header #toolbox{
    padding-top: 6px;
    margin-right: 8px;
} 

#header #column-selector{
    padding-top: 5px;
    flex: 1;
}

#main {
    flex-grow: 1;
    flex-basis: 0;
    display:flex;
}

.sesekimap{
    width:100vw;
    margin:0;
    padding:0;
    flex: 1;
}

#ranking{
    width: 320px;
    overflow-y: scroll;
}

.layer_tooltip .commune_name{
    font-size: 16pt;
}
.layer_tooltip .value{
    font-size: 14pt;
    text-align: right;
}
